Converting the labels into numeric form.

classification machine learning proble; Is predicting if a datapoint belongs to one class or another. predicting if a person is diabetic or non diabetic.

In [1]:
#Importing the dependencies

import pandas as pd
from sklearn.preprocessing import LabelEncoder  #labelEncoder function

Label Encoding of Breast CAncer Dataset

In [2]:
cancer = pd.read_csv('breast_cancer_data.csv')

In [3]:
#first 5 rows
cancer.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [4]:
#finding the count of differrnt labels

cancer['diagnosis'].value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64

Converting the 'B' and 'M to corresponing lables with numerical values

In [5]:
#loading the label encoder function
#It labels values between 0 and 1

label_encoder = LabelEncoder()

In [6]:
#transforming values of diagnosis to 0 nad 1
labels = label_encoder.fit_transform(cancer.diagnosis)

In [7]:
#Appending the labels to the data frame.
#It will create a new column call target for the label encoding

cancer['target'] = labels

In [8]:
cancer.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32,target
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN,1
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN,1
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN,1
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN,1
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN,1

0 = Benign
1 = Malig nant

In [9]:
cancer['target'].value_counts()

target
0    357
1    212
Name: count, dtype: int64

In [ ]:
#Droping the diagnosiscolumn since we have a new column representing it

NOW USING IRIS DATASET, and it contains three label

Label Encoding of Iris Data

In [12]:
iris = pd.read_csv('iris_data.csv')

In [13]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Transforming the labels to numerical value

In [27]:
iris['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

Loading the Label Encoder

In [33]:
#Loading the Label Encoder
label_encode = LabelEncoder()

Creating the lables and Storing it in the Variable iris_label

In [34]:
#Creating the lables and Storing it in the Variable iris_label

iris_labels = label_encode.fit_transform(iris.Species)

In [36]:
#Appending the labels(new column called target) to our dataset
iris['target'] = iris_labels

In [37]:
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [42]:
iris['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [ ]:
Iris-satosa ---> 0
Iris-versicolor ---> 1
Iris-virginica --->2